CapstoneAPI/.vs/CapstoneAPI/v15/sqlite3/storage.ide
*.suo
*.lock
*.ide
*.cache
CapstoneAPI/.vs/CapstoneAPI/v15/Server/sqlite3/storage.ide-wal
CapstoneAPI/.vs/CapstoneAPI/v15/Server/sqlite3/storage.ide-shm
