

@{
    ViewBag.Title = "Tai Khoang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <!-- Javascript Libraries -->
    <script src="~/Content/template-material/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/Content/template-material/vendors/bower_components/Waves/dist/waves.min.js"></script>
   

</head>

<style>
    .clearfix .chart h1 {
        color: white !important;
    }

    .row .col-md-3 h4, .card .card-header h2 {
        color: #6d777e;
        font-weight: 200;
    }

    .hover-cursor {
        cursor: pointer;
    }

    .tabs {
        height: 45px;
        padding: 0 0 0 0;
        overflow: visible;
    }

    .tab {
        width: 200px;
        height: 45px;
        overflow: hidden;
        float: left;
        margin: 0 -15px 0 0;
    }


    .tab-box {
        height: 50px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin: 0 10px 0;
        box-shadow: 0 0 2px #fff inset;
        -webkit-transform: perspective(100px) rotateX(30deg);
        -moz-transform: perspective(100px) rotateX(30deg);
    }

    .tab.active {
        z-index: 40;
        position: relative;
        padding-bottom: 1px;
    }

    .content {
        z-index: 1;
        padding: 100px;
        border: 1px solid #ccc;
        background: #eee;
        position: relative;
    }

    .tab.active .tab-box {
        background-color: #eee;
        box-shadow: 0 0 2px 0 #fff inset;
    }

    .clear {
        clear: both;
    }

    .icon-color-blue {
        color: #00bcd4;
    }

    .icon-color-green {
        color: #4caf50;
    }

    .icon-color-yellow {
        color: #ffc107;
    }

    .icon-width20 {
        width: 20px;
    }

    li#LoginTab.active {
        background-color: rgb(4, 121, 49);
    }

    li#OsInfoTab.active {
        background-color: rgb(4, 121, 49);
    }

    li#PresenceInfoTab.active {
        background-color: rgb(4, 121, 49);
    }

    div#LoginInfo.active {
        background-color: rgb(4, 121, 49);
    }

    div#OsInfo.active {
        background-color: rgb(4, 121, 49);
    }

    div#PresenceInfo.active {
        background-color: rgb(4, 121, 49);
    }

    .tab-content {
        padding: 0px;
    }

    .modified-tab-header {
        background-color: #00aa41;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .icon-left-style1 {
        float: right;
        font-size: 80px;
        padding-top: 10px;
        line-height: 0.5;
    }

    .icon-left-style2 {
        font-size: 60px;
        float: right;
        line-height: 0;
    }

    .totalUser {
        font-size: 20px;
        font-weight: bold;
        padding-left: 5px;
        color: #e08601;
    }

    .text-yellow {
        color: #ffd558;
    }

    .text-blue {
        color: #38b0bf;
    }

    .top-panel1 {
        width: 30%;
        background-color: #38b0bf;
        margin: 17px;
    }

    .top-panel2 {
        width: 30%;
        background-color: #00aa41;
        margin: 17px;
    }

    .top-panel3 {
        width: 30%;
        background-color: #ffd558;
        margin: 17px;
    }

    .top-panel-icon {
        float: right;
        font-size: 60px;
    }

    .top-panel-detail {
        font-weight: 100;
        font-size: 20px;
        color: white;
    }
</style>

<body>
   @section Header
{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Accounts")"><i class="left-icon fa fa-linux"></i>DashBoard</a></li>
        <li class="active">Gia Hạn</li>
    </ol>
}

<div class="block-header">
    <h2>Gia Hạn Tài Khoản</h2>
    @*<ul class="actions">
            <li>
                <button id="btnCreateLandingPage" type="button" class="btn btn-primary pull-right" onclick="createModal()">
                    <i class="left-icon fa fa-plus"></i>Tạo mới
                </button>
            </li>
        </ul>*@
</div>
    <div class="card-body card-padding">
        <h3>Loại 1</h3>
        <div class="row">
            <div class="col-md-4 col-xs-12 p-l-0 p-r-0 top-panel1">
                <div>
                    
                    <div>
                        <div>
                            <h1><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:#16c1d6"></i></h1>
                        </div>
                        <div class="">
                            <h2 class="m-b-10 p-l-30" style="color: white;font-weight:400">
                                30 ngày
                            </h2>
                            <h2 id="totalLocation" class="p-l-30 top-panel-detail">
                                $20
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="background-color:#247d88"><h4 style="font-weight:100; padding-left:65%"><input type="checkbox" id="Check1" name="p20" class="check-box" value="1-20" onclick="selectOnlyThis(this.id)" /></h4></div>
            </div>
            <div class="col-md-4 col-xs-12 p-l-0 p-r-0 top-panel2">
                <div class="">
                    <div class="">
                        <div class="">
                            <h1><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:#09d858"></i><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:#09d858"></i></h1>
                        </div>
                        <div class="">
                            <h2 class="m-b-10 p-l-30" style="color: white;font-weight:400">
                                60 ngày
                            </h2>
                            <h2 id="totalAccessPoint" class="p-l-30 top-panel-detail">
                                $30
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="background-color:#0a8439"><h4 style="font-weight:100;padding-left:65%"><input type="checkbox" id="Check2" name="p30" class="check-box" value="1-30" onclick="selectOnlyThis(this.id)" /></h4></div>
            </div>

            <div class="col-md-4 col-xs-12 p-l-0 p-r-0 top-panel3">
                <div class="">
                    <div class="">
                        <div class="">
                            <h1><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:rgb(250, 255, 35)"></i><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:rgb(250, 255, 35)"></i><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:rgb(250, 255, 35)"></i></h1>
                        </div>
                        <div class="">
                            <h2 class="m-b-10 p-l-30" style="color: white;font-weight:400">
                                90 ngày
                            </h2>
                            <h2 id="totalAdv" class="p-l-30 top-panel-detail">
                                $40
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="background-color:#ccaa45"><h4 style="font-weight:100;padding-left:65%"><input type="checkbox" id="Check3" name="p40" class="check-box" value="1-40" onclick="selectOnlyThis(this.id)" /></h4></div>
            </div>
        </div>

        =================================================================================

        <div class="row">
            <h3>Loại 2</h3>
            <div class="col-md-4 col-xs-12 p-l-0 p-r-0 top-panel1">
                <div>

                    <div>
                        <div>
                            <h1><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:#16c1d6"></i></h1>
                        </div>
                        <div class="">
                            <h2 class="m-b-10 p-l-30" style="color: white;font-weight:400">
                                30 ngày
                            </h2>
                            <h2 id="totalLocation" class="p-l-30 top-panel-detail">
                                $25
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="background-color:#247d88"><h4 style="font-weight:100; padding-left:65%"><input type="checkbox" id="Check4" name="p25" class="check-box" value="2-25" onclick="selectOnlyThis(this.id)" /></h4></div>
            </div>
            <div class="col-md-4 col-xs-12 p-l-0 p-r-0 top-panel2">
                <div class="">
                    <div class="">
                        <div class="">
                            <h1><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:#09d858"></i><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:#09d858"></i></h1>
                        </div>
                        <div class="">
                            <h2 class="m-b-10 p-l-30" style="color: white;font-weight:400">
                                60 ngày
                            </h2>
                            <h2 id="totalAccessPoint" class="p-l-30 top-panel-detail">
                                $35
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="background-color:#0a8439"><h4 style="font-weight:100;padding-left:65%"><input type="checkbox" id="Check5" name="p35" class="check-box" value="2-35" onclick="selectOnlyThis(this.id)" /></h4></div>
            </div>

            <div class="col-md-4 col-xs-12 p-l-0 p-r-0 top-panel3">
                <div class="">
                    <div class="">
                        <div class="">
                            <h1><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:rgb(250, 255, 35)"></i><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:rgb(250, 255, 35)"></i><i class="fa fa-dollar p-r-20 top-panel-icon" style="color:rgb(250, 255, 35)"></i></h1>
                        </div>
                        <div class="">
                            <h2 class="m-b-10 p-l-30" style="color: white;font-weight:400">
                                90 ngày
                            </h2>
                            <h2 id="totalAdv" class="p-l-30 top-panel-detail">
                                $45
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="background-color:#ccaa45"><h4 style="font-weight:100;padding-left:65%"><input type="checkbox" id="Check6" name="p45" class="check-box" value="2-45" onclick="selectOnlyThis(this.id)" /></h4></div>
            </div>
        </div>

    </div>
    <input type="hidden" id="Username" value="@Session["Username"].ToString()" />

    <div id="paypal-button-container" onclick="AddnNewLicense()"></div>
    <script>
        function selectOnlyThis(id) {
            for (var i = 1; i <= 6; i++) {
                document.getElementById("Check" + i).checked = false;
            }
            document.getElementById(id).checked = true;
        }

        //function AddNewLicense() {
        //    var checkedValue = $('.check-box:checked').val();
        //    var username = Session["Username"].ToString();
        //    window.location.href = "http://localhost:36110/Admin/ManageAccount/AddNewLicense?username=" + username + "&day=" + checkedValue;
        //}

        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                //sandbox: 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                sandbox: 'AbokR5McS6VRvhE5pttwjJxkFAqNVN26laJVzovOgVQqgWt6XfC0xlkA2r8wc5NOlGwwZjKJj1KaaeoT',
                production: 'quangnn0712-facilitator_api1.gmail.com'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function (data, actions) {
                var checkedValue = $('.check-box:checked').val();
                var CheckedValue = "" + checkedValue;
                //var name = $('.Username').val();
                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: CheckedValue.substring(2), currency: 'USD' }
                            }
                        ]
                    }
                })
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function (data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function () {
                    var checked = $('.check-box:checked').val();
                    var Checked = "" + checked;
                    var name = $("#Username").val();


                    window.alert('Payment Complete!');

                    window.location.href = "http://localhost:36110/Admin/ManageAccount/AddNewLicense?username=" + name + "&price=" + Checked.substring(2) + "&type=" +  Checked.substr(0,1) ;
                })
               
            }
           
        }, '#paypal-button-container');

    </script>
</body>
